body {

}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.flex-container>div{
  align-items: center;
  justify-content: center;
  align-content:stretch;
}

.flex-container>h4{
  align-items: flex-start;
  justify-content: center;
  align-content:stretch;
}

.total-flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}


/*

header {
  display: grid;
  text-align: center;
  font-size: 52px;
  font-family: Graphik, sans-serif;
  grid-column: 1/6;
  background:#1652f0;
}

#header-phrase{
  color:white;
}
nav {
  font-size: 20px;
}

.price-table {
  float:right;
}


.page-content{
    display: flex;
  align-items:center;
  justify-content: center;
}




.mainsec {
  grid-column: 1/6;
  grid-row: 1/6;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(9, 1fr);
  /*border: green solid 5px;
}


.mainsec h1 {
  border: solid brown;
  background: #002f6b;
  color: white;
  grid-column-start: 1;
  grid-column-end: 13;
  grid-row-start: 2;
  text-align: center;
  font-family: Graphik, sans-serif;
}

.mainsec h2 {
  border: solid brown;
  text-align: center;
  font-family: Graphik, sans-serif;
  font-size: 30px;

}


.chart {
  grid-column: 2/12;
  grid-row: 3/10;

}

table {
  border-top:black solid 2px;
  border-bottom: black solid 2px;
  border-collapse: collapse;

}



.symbol{
  height: 42;
  width: 42;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}



.symbol {
  width: 42px;
}
.name {
  width: 30px;
}
.description {
  width: 500px;
}
.price {
  width: 90px;
}
th {
 border-left:solid black 2px;
  border-right: solid black 2px;
  height: 40px;
  padding: 2px;
  width:200px;
  color: white;
  background: #1652f0;
  text-align: center;
  font-family: Graphik, sans-serif;
  font-size: 20px;
}



td {
  border-left:solid black 2px;
  border-right: solid black 2px;
  padding: 4px;
  height: 40px;
  text-align: center;
  font-family: Graphik, sans-serif;
  font-size:20px;
  color:#adb9c4;

}


tr:nth-child(odd){
  background:;
}

#total {
  text-align: right;
  rder-style: solid;
  border-radius: 5px;
  border-color: black;
  font-family: Graphik, sans-serif;
  font-size: 25px;
  height: 30px;
  width: 665px;
}


button {

    font-size: 16px;
    background-color: rgb(58, 204, 138);
    font-family: Graphik, sans-serif;
    font-weight: 500;
    color: white;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    border-radius: 4px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    transition: background-color 0.2s ease 0s;
    width: 160px;
    height: 35px;
    margin:5px 5px 5px 5px;
    text-align: center;

}
*/